.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

@media only screen and (max-width: 600px) {
    /* Стилі для мобільних пристроїв */
    .header, .footer, .nav {
        text-align: center;
    }
    .nav {
        flex-direction: column;
    }
}
